* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.container p {
    margin-left: 5%;
}

.grid p {
    margin-left: -0.1em;
}

#filter {
    margin-left: 5%;
}

nav {
    background: white;
    margin-top: 2em;
    margin-left: 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 5%;
}

li a:hover {
    background-color: #dddddd;
}

li a {
    color: #151515;
    display: block;
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    margin-left: 5%;
}

td, th {
    border: 1px solid #bbb8b8;
    text-align: left;
    padding: 8px;
}

tr:first-child {
    background-color: #dddddd;
}

.active {
    text-decoration: underline;
}

h1 {
    margin-top: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0.5em;
}

img {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-width: 100%;
}

iframe {
    margin-top: 1.1%;
    background: whitesmoke;
    position: relative;
    width: 100%;
    height: 97%;
}

.formulier {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
    background-color: white;
}

.formulier2 {
    display: flex;
    flex-direction: column;
}

input[type=text], textarea {
    width: 30%;
    padding: 0.75em;
    border: 0.0625em solid #ccc;
    border-radius: 0.25em;
    margin-top: 0.375em;
    margin-bottom: 1em;
    resize: vertical;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 1em 1.25em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    max-width: 10em;
    border: 0.0625em solid #ccc;
    margin-top: 1em;
}

input[type=submit]:hover {
    background-color: #ccc;
}

.radio {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}

.radio input[type=radio] {
    margin-right: 0.5em;
}

footer {
    position: fixed;
    height: 3em;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

footer p {
    margin-top: 0.3em;
}

@media screen and (min-width:90em) {
    .grid {
        grid-gap: 2em;
        display: grid;
        grid-template-columns: 50% 50%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width:90em) {
    .grid {
        grid-column-gap: 2em;
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width:50em) {
    input[type=text], textarea {
        width: 100%;
        padding: 0.75em;
        border: 0.0625em solid #ccc;
        border-radius: 0.25em;
        margin-top: 0.375em;
        margin-bottom: 1em;
        resize: vertical;
    }
}